{% extends 'base.html.twig' %}




{% block titrePage %}
Creer un nouveau stage
{% endblock %}
{% block contenuPage %}
    {{ form_start (vueFormulaireStage) }}
    <div>
        {{ form_label (vueFormulaireStage.titre) }}
        <br>
        {{ form_widget (vueFormulaireStage.titre) }}
    </div>
    <div>
        {{ form_label (vueFormulaireStage.email) }}
        <br>
        {{ form_widget (vueFormulaireStage.email) }}
    </div>
    <div>
        {{ form_label (vueFormulaireStage.descriptionMission) }}
        <br>
        {{ form_widget (vueFormulaireStage.descriptionMission) }}
    </div>
    <div>
        {{ form_label (vueFormulaireStage.entreprise) }}
        <br>
        {{ form_widget (vueFormulaireStage.entreprise) }}
    </div>
    <div>
        {{ form_label (vueFormulaireStage.formations) }}
        <br>
        {{ form_widget (vueFormulaireStage.formations) }}
    </div>
    <br>
    <button type="submit" class="btn btn-outline-dark"> Valider </button>
    </div>
    {{ form_end (vueFormulaireStage) }}

{% endblock %}