{% extends 'base.html.twig' %}




{% block titrePage %}
Ajouter une Entreprise 
{% endblock %}
{% block contenuPage %}
    {{ form_start (vueFormulaireEntreprise, {'attr':{'novalidate':'novalidate'}}) }}
        <div>
                {{ form_label (vueFormulaireEntreprise.nom) }}
                <br> 
                {{ form_widget (vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise"}}) }} 
        </div>
            <br>
        <div>
                {{ form_label (vueFormulaireEntreprise.activite) }}
                <br>
                {{ form_widget (vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Domaine d'activité de l'entreprise"}}) }} 
        </div>
            <br>
        <div>
                {{ form_label (vueFormulaireEntreprise.adresse) }}
                <br> 
                {{ form_widget (vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Adresse postale de l'entreprise"}}) }} 
        </div>
            <br>
        <div>
                {{ form_label (vueFormulaireEntreprise.site) }}
                <br>
                {{ form_widget (vueFormulaireEntreprise.site, {'attr':{'placeholder':"Adresse URL du site de l'entreprise"}}) }} 
                            
        </div>
            <br>
        <div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
    {{ form_end (vueFormulaireEntreprise) }}

{% endblock %}