{% extends 'base.html.twig' %}






{% block titrePage %}
Toutes les entreprises
{% endblock %}
{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Nom
        </th>
        <th>
            Adresse
        </th>
        <th>
            Site
        </th>
        <th>
            Plus..
        </th>
    </tr>
</thead>
{% endblock %}

{% block elementTab  %}
<tbody>
    {% for entreprise in infoEntreprises %}
        <tr>
            <td>
                {{entreprise.id}}
            </td>
            <td>
                {{entreprise.nom}}
            </td>
            <td>
                
                {{entreprise.adresse}}

            </td>
            <td>
                <a href="{{entreprise.site}}"a>{{entreprise.site}}
            </td>
            <td>
                <a href= "{{path('stageParEntreprise',{nom:entreprise.nom})}}">Consulter les stages</a></br>
                <a href= "{{path('modifierUneEntreprise',{id:entreprise.id})}}">Modifier</a>
            </td>
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}