{% extends 'base.html.twig' %}





{% block navbar %}

    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('stage') }}">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active " href="">Entreprises <span class="sr-only">(current)</span></a>                                
    <a class="nav-item nav-link " href="{{ path('formations') }}">Formations <span class="sr-only">(current)</span></a>               
{% endblock %}

{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Nom
        </th>
        <th>
            Adresse
        </th>
        <th>
            Site
        </th>
        <th>
            Tous les stages
        </th>
    </tr>
</thead>
{% endblock %}

{% block elementTab  %}
<tbody>
    {% for entreprise in infoEntreprises %}
        <tr>
            <td>
                {{entreprise.id}}
            </td>
            <td>
                {{entreprise.nom}}
            </td>
            <td>
                
                {{entreprise.adresse}}

            </td>
            <td>
                <a href="{{entreprise.site}}"a>{{entreprise.site}}
            </td>
            <td>
                <a href= "{{path('stageParEntreprise',{nom:entreprise.nom})}}">Consulter les stages </a>
            </td>
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}