{% extends 'base.html.twig' %}

{% block title %} Formations {% endblock %}

{% block navbar %}

    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('stage') }}">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('entreprises') }}">Entreprises <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active " href="{{ path('formations') }}">Formations <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUneEntreprise') }}">Ajouter une entreprise <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUnStage') }}">Ajouter un stage <span class="sr-only">(current)</span></a>


{% endblock %}
{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Formation
        </th>
        <th>
            Tous les stages
        </th>
    </tr>
</thead>
{% endblock %}


{% block elementTab  %}
<tbody>
    {% for formation in infoFormation %}

        <tr>
            <td>
                {{formation.id}}
            </td>
            <td>
                {{formation.libelle}}
            </td>
            <td>
                <a href= "{{path('stageParFormation',{nom:formation.nomComplet})}}">Consulter les stages </a>
            </td>
            
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}