{% extends 'base.html.twig' %}

{% block navbar %}
    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('stage') }}">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active " href="{{ path('entreprises') }}">Entreprises <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('formations') }}">Formations <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUneEntreprise') }}">Ajouter une entreprise <span class="sr-only">(current)</span></a>
{% endblock %}


{% block formulaire %}
    {{ form_start (vueFormulaireModifEntreprise) }}
    <div>
        {{ form_label (vueFormulaireModifEntreprise.nom) }}
        <br>
        {{ form_widget (vueFormulaireModifEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise"}}) }}
    </div>
    <br>
    <div>
        {{ form_label (vueFormulaireModifEntreprise.activite) }}
        <br>
        {{ form_widget (vueFormulaireModifEntreprise.activite, {'attr':{'placeholder':"Domaine d'activité de l'entreprise"}}) }}
    </div>
    <br>
    <div>
        {{ form_label (vueFormulaireModifEntreprise.adresse) }}
        <br>
        {{ form_widget (vueFormulaireModifEntreprise.adresse, {'attr':{'placeholder':"Adresse postale de l'entreprise"}}) }}
    </div>
    <br>
    <div>
        {{ form_label (vueFormulaireModifEntreprise.site) }}
        <br>
        {{ form_widget (vueFormulaireModifEntreprise.site, {'attr':{'placeholder':"Adresse URL du site de l'entreprise"}}) }}

    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-success">Modifier</button>
    </div>
    {{ form_end (vueFormulaireModifEntreprise) }}

{% endblock %}