{% extends 'base.html.twig' %}

{% block navbar %}

    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('stage') }}">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('entreprises') }}">Entreprises <span class="sr-only">(current)</span></a>                                
    <a class="nav-item nav-link active " href="{{ path('formations') }}">Formations <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUneEntreprise') }}">Ajouter une entreprise <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUnStage') }}">Ajouter un stage <span class="sr-only">(current)</span></a>

{% endblock %}

{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            Titre
        </th>
        <th>
            Proposé par
        </th>
        <th>
            Description
        </th>
        <th>
            Site
        </th>
    </tr>
</thead>
{% endblock %}

{% block elementTab  %}
<tbody>
    {% for stage in infoStages %}

        <tr>
            <td>
                {{stage.titre}}
            </td>
            <td>
                {{stage.entreprise.nom}}
            </td>
            <td>
                
                {{stage.descriptionMission}}<br>

            </td>
            <td>
                {{stage.email}}
            </td>
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}