{% extends 'base.html.twig' %}

{% block title %}Stage n°{{id}}{% endblock %}

{% block navbar %}

    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active " href="{{ path('stage') }}">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('entreprises') }}">Entreprises <span class="sr-only">(current)</span></a>                                
                  
{% endblock %}

{% block titre %}

Affiche du stage n° {{id}}

{% endblock %}
{% block }


