{% extends 'base.html.twig' %}


{% block navbar %}

    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active " href="">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('entreprises') }}">Entreprises <span class="sr-only">(current)</span></a>                                
    <a class="nav-item nav-link " href="{{ path('formations') }}">Formations <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUneEntreprise') }}">Ajouter une entreprise <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('ajouterUnStage') }}">Ajouter un stage <span class="sr-only">(current)</span></a>

{% endblock %}
{% block titrePage %}

Liste de tous les stages

{% endblock %}
{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            Titre
        </th>
        <th>
            Proposé par
        </th>
        <th>
            Types de formation
        </th>
        
        <th>
            à propos
        </th>
    </tr>
</thead>
{% endblock %}

{% block elementTab  %}
<tbody>
    {% for stage in listeStages %}

        <tr>
            <td>
                {{stage.titre}}
            </td>
            <td>
                {{stage.entreprise.nom}}
            </td>
            <td>
                {% for formation in stage.formations %}
                  
                    {{formation.libelle}}<br>

                {% endfor %}
            </td>
            
            <td>
                <a href= "{{path('stageDetaille',{id:stage.id})}}">Plus d'information </a>
            </td>
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}